{% extends 'base.html' %}


{% block content %}
<a href="{% url 'log_out' %}" class="btn-pill">
    Log out &#10138;
</a>
</header>

<main class="admin-dashboard">
    <section class="admin-section-header">
        <div>
            <h3>Logged in as <strong>{{ request.user }}</strong></h3>
        </div>
        <p>All your upcoming appointments will appear listed below.</p>
    </section>

    {% for booking in bookings %}
    <article class="admin-section-appointment">
        <div>
            <h3>{{ booking.customer_name }}</h3>
            <div>
                <span>{{ booking.date }}</span><span>{{ booking.time }}</span><span>1 hour</span>
            </div>
            <p>{{ booking.id }}</p>
        </div>
        <p></p>
        <div>
            <span>€</span>
            <button>Cancel</button>
        </div>
    </article>
    {% endfor %}
    <a href="#" target="_top">Back to top &uarr;</a>
</main>
<footer>
    <a href="{% url 'admin_packages' %}" class="view-packages-btn">
        View all packages
    </a>
</footer>

{% endblock %}