{% extends 'base.html' %}


{% block content %}

<a href="{% url 'log_out' %}" class="btn-pill">
    Log out &#10138;
</a>

<main class="admin-dashboard">
    <section class="admin-section-header">
        <div>
            <h3>You are currently logged in as <strong>{{ request.user }}</strong></h3>
        </div>
        <p>All your packages will appear listed below.</p>
    </section>

    

    {% if packages %}
        {% for package in packages %}
        
            <article class="admin-section-appointment package">
                <div>
                    <h3>{{ package.name }}</h3>
                    <p>#{{ package.id }}</p>
                </div>
                <p>{{ package.description }}</p>

                <div class="detail-grid">
                    <div>
                        <span>Length (1-10):</span>
                        <span>{{ package.length }}</span>
                    </div>
                    <div>
                        <span>Timeframe (1-10):</span>
                        <span>{{ package.timeframe }}</span>
                    </div>
                    <div>
                        <span>Thickness (1-10):</span>
                        <span>{{ package.thickness }}</span>
                    </div>
                    <div>
                        <span>Endurance (1-10):</span>
                        <span>{{ package.endurance }}</span>
                    </div>
                </div>

                <div>
                    <span>€ {{ package.price }}</span>
                    <a href="{% url 'update_package' package.id %}">Edit Package</a>
                    <a href="{% url 'delete_package' package.id %}">Delete Package</a>
                </div>
            </article>

        {% endfor %}
    {% else %}
        <p>There are no packages stored.</p>
    {% endif %}
    <div class="add-package">
        <h4>Add package</h4>
        <form class="package-form" action="" method="POST">
            {% csrf_token %}
    
            {{ form }}
            
            <button type="submit">Create</button>
        </form>
    </div>
    <a href="#" target="_top">Back to top &uarr;</a>
</main>
{% endblock %}