{% extends 'base.html' %}


{% block content %}

        <main class="log-in-section">
            <h1>Log in</h1>

            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-field">
                    <label for="username">
                        Username:
                    </label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="form-field">
                    <label for="password">
                        Password:
                    </label>
                    <input type="password" name="password" id="password">
                </div>
                <button type="submit">Log in</button>
            </form>

        </main>

{% endblock %}
