{% extends 'base.html' %} 

{% block content %}

<main class="sign-up-section">
  <h1>Sign up</h1>


  <form action="" method="POST" name="create_user_account">
    
    {% csrf_token %}

    <div class="form-field">
      <label for="username"> Username: </label>
      <input type="text" name="username" id="username" required />
    </div>
    <div class="form-field">
      <label for="fname"> Full name: </label>
      <input type="text" name="fname" id="fname" required />
    </div>
    <div class="form-field">
      <label for="email"> E-mail: </label>
      <input type="email" name="email" id="email" required />
    </div>
    <div class="form-field">
      <label for="password">
        Password:
        <span>
          Must be longer than 8 characters and include at least one uppercase
          and one lowercase letter.
        </span>
      </label>
      <input type="password" name="password1" id="password1" required />
      <label for="password2">
        Confirm password:
      </label>
      <input type="password" name="password2" id="password2" required />
    </div>
    <p>
      By signing up for an account, you agree to our
      <span class="accent">terms and conditions</span>. The information from
      this form is 100% compliant with European Union's GDPR rules.
    </p>
    <button type="submit">Sign up</button>
  </form>
</main>

{% endblock %}
